<div id="printerConnexionPreparation" class="zoffset">
  <p>{{printer_connexion_explications}}</p>
  <p class="thanksToPrepare">{{printer_connexion_preparation}}</p>
  <form>
    <ul>
      <li>
        <input type="checkbox" class="filled-in" id="test3" />
        <label for="test3">{{printer_connexion_remove_card}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test1" />
        <label for="test1">{{printer_connexion_turn_on}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test4" />
        <label for="test4">{{printer_connexion_USB_Cable}}</label>
      </li>
    </ul>
  </form>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right dagogrey"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
