<div id="selectPrinter" class="selectPrinter">
  <p>Quelle imprimante avez-vous ?</p>
  <a id="discoD200" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/discovery200.png" alt="" />
    <span>
      Discovery200
    </span>
  </a>
  <a id="discoV2" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/DiscoEasy200.png" alt="" />
    <span>
      DiscoEasy200
    </span>
  </a>
  <a id="E350" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/explorer350.png" alt="" />
    <span>
      Explorer 350
    </span>
  </a>
</div>
