<div id="selectPrinter" class="selectPrinter">
  <p>{{printer_selection_question}}</p>
  <a id="DiscoUltimate" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/discoultimate.png" alt="" />
    <span>
      {{printer_selection_ultimate}}
    </span>
  </a>
  <a id="Magis" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/magis.png" alt="" />
    <span>
      {{printer_selection_magis}}
    </span>
  </a>
  <a id="Neva" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/Neva.png" alt="" />
    <span>
      {{printer_selection_neva}}
    </span>
  </a>
  <a id="discoD200" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/discovery200.png" alt="" />
    <span>
      {{printer_selection_discovery}}
    </span>
  </a>
  <a id="discoV2" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/DiscoEasy200.png" alt="" />
    <span>
      {{printer_selection_discoeasy}}
    </span>
  </a>
  <a id="E350" class="btn-large waves-effect waves-light">
    <img draggable="false" src="../static/images/explorer350.png" alt="" />
    <span>
      {{printer_selection_explorer}}
    </span>
  </a>
</div>
