<div id="zoffsetPreparation" class="zoffset">
  <p>{{pid_preparation_explications}}</p>
  <p class="thanksToPrepare">{{pid_preparation_title}}</p>
  <form>
    <ul>
      <li>
        <input type="checkbox" class="filled-in" id="test3" />
        <label for="test3">{{pid_preparation_remove_card}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test1" />
        <label for="test1">{{pid_preparation_turn_on}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test4" />
        <label for="test4">{{pid_preparation_USB_Cable}} </label>
      </li>
    </ul>
  </form>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right dagogrey"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
