<div id="zoffsetSetJumper" class="zoffset">
  <p>Quelle carte électronique avez-vous ?</p>
  <a id="mks" class="btn-large waves-effect waves-light btn-flat">
    <img src="../static/images/mks.jpg" alt="" />
    <span>
      MKS
    </span>
  </a>
  <a id="melzi" class="btn-large waves-effect waves-light btn-flat">
    <img src="../static/images/melzi.jpg" alt="" />
    <span>
      melzi
    </span>
  </a>
  <!--iframe src="../static/images/SetJumperHTML.html" width="350" height="300"></iframe>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a-->
</div>
