<div id="configuration" class="buttonListExpendable">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <img draggable="false" src="../static/images/ConfigurationIcons1.png"/>
        <a class="waves-effect waves-light btn-large blue">{{configuration_zoffset_title}}</a>
      </div>
      <div class="collapsible-body">
        <p>{{configuration_zoffset_description}} <span class="pro"> {{configuration_zoffset_pro}}</span></p>
        <p>{{configuration_zoffset_time}}</p>
        <a id="zoffset" class="next btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
    </li>
    <!--li>
      <div class="collapsible-header">
        <img draggable="false" src="../static/images/ConfigurationIcons2.png"/>
        <a class="waves-effect waves-light btn-large blue">{{configuration_pid_title}}</a>
      </div>
      <div class="collapsible-body">
        <p>{{configuration_pid_description}} <span class="exemple">{{configuration_pid_exemple}}</span> <span class="pro"> {{configuration_pid_pro}}</span></p>
        <p>{{configuration_pid_time}}</p>
        <a id="pid" class="next btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
    </li-->
    <li>
      <div class="collapsible-header">
        <img draggable="false" src="../static/images/HomeIcons2.png"/>
        <a class="waves-effect waves-light btn-large blue">{{configuration_firmware_title}}</a>
      </div>
      <div class="collapsible-body">
        <p>{{configuration_firmware_description}} <span class="pro"> {{configuration_firmware_pro}}</span></p>
        <p>{{configuration_firmware_time}}</p>
        <a id="firmware" class="next btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <img draggable="false" src="../static/images/HomeIcons1.png"/>
        <a class="waves-effect waves-light btn-large blue">{{configuration_reset_title}}</a>
      </div>
      <div class="collapsible-body">
        <p>{{configuration_reset_description}} <span class="pro"> {{configuration_reset_pro}}</span></p>
        <p>{{configuration_reset_time}}</p>
        <a id="reset" class="next btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
    </li>
  </ul>
</div>
