<div id="globalLoader">
  <div class="roundInternalLoader">
    <img draggable="false" src="../static/images/logoLoader.png" alt="" />
  </div>
  <div class="z-depth-2 description">
    <div class="content">
      {{loading}}
    </div>
  </div>
</div>

<div id="globalModal" class="modal">
  <div class="modal-content">
    <h4> Modal Header </h4>
    <div class="content">
      <p>
        A bunch of text
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</div>
<div id="navbar" class="row">
  <a id="navHome" href="#" class="home tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{navBar_home}}"><i class="mdi-action-home"></i></a>
  <a id="navBack" href="#" class="back tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{navBar_back}}"><i class="mdi-navigation-chevron-left"> </i></a>
  <h1>Dagom'App</h1>
  <a id="navClose" href="#" class="close tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{navBar_close}}"><i class="mdi-navigation-close"></i></a>
</div>
<div id="welcome">
  <img draggable="false" src="../static/images/logoWhite.png" alt="" />
  <p>
    {{welcome}}
  </p>
</div>
<div id="pageContainer">

</div>
<div id="version">
</div>
