<div id="dagoExperts" class="">
  <h2>{{{experts_title}}}</h2>
  <a id="hero" href="https://dagoma.fr/heroes/diagnostique-en-ligne.html" class="btn-large waves-effect waves-light orange">
    {{experts_button}}
  </a>
  <img draggable="false" src="../static/images/doctor.png" alt="" />
  <footer>
    <a href="https://dagoma.fr/heroes/neva-beta.html" class="btn waves-effect waves-light">
      Neva
    </a>
    <a href="https://dagoma.fr/heroes/discoeasy-200-beta.html" class="btn waves-effect waves-light">
      DiscoEasy200
    </a>
    <a href="https://dagoma.fr/heroes/disco-very.html" class="btn waves-effect waves-light">
      DiscoVery200
    </a>
    <p>&nbsp;</p>
    <!--
    <p>
      {{{experts_contact}}}
    </p>
    -->
  </footer>
</div>
