<div id="dagoExperts" class="">
  <h2>{{{experts_title}}}</h2>
  <a id="hero" href="https://support.dagoma.fr/support/home" class="btn-large waves-effect waves-light orange">
    {{experts_button}}
  </a>
  <img draggable="false" src="../static/images/doctor.png" alt="" />
  <footer>
    <a href="https://support.dagoma.fr/support/solutions/36000080632" class="btn waves-effect waves-light">
      Neva/Magis
    </a>
    <a href="https://support.dagoma.fr/support/solutions/36000080631" class="btn waves-effect waves-light">
      Disco Easy200/Ultimate
    </a>
    <p>&nbsp;</p>
    <!--
    <p>
      {{{experts_contact}}}
    </p>
    -->
  </footer>
</div>
