<div id="dagoExperts" class="">
  <h2>{{{experts_title}}}</h2>
  <a id="hero" href="http://www.dagoma.fr/tutoriels/trouver-et-comprendre-laide-interactive-etape-par-etape/" class="btn-large waves-effect waves-light orange">
    {{experts_button}}
  </a>
  <img draggable="false" src="../static/images/doctor.png" alt="" />
  <footer>
    <a href="http://www.dagoma.fr/tutoriels/" class="btn waves-effect waves-light">
      {{experts_tutos}}
    </a>
    <p>
      {{{experts_contact}}}
    </p>
  </footer>
</div>
