<div id="home" class="buttonList">
  <div class="link" id="configure">
    <img draggable="false" src="../static/images/HomeIcons1.png"/>
    <a class="waves-effect waves-light btn-large blue">
      <h5>
        Je configure mon imprimante
      </h5>
    </a>
  </div>
  <div class="link" id="firmware">
    <img draggable="false" src="../static/images/HomeIcons2.png"/>
    <a class="waves-effect waves-light btn-large blue">
      <h5>
        Je donne des nouveaux pouvoirs à mon imprimante
      </h5>
    </a>
  </div>
  <div class="link" id="sav">
    <img draggable="false" src="../static/images/HomeIcons3.png"/>
    <a class="waves-effect waves-light btn-large blue">
      <h5>
        Je fais appel aux Dago’Experts
      </h5>
    </a>
  </div>
</div>
