<html>
  <head>
    <title>Dagoma Doctor</title>
    <link type="text/css" rel="stylesheet" href="../static/vendors/materialize/css/googleMaterialIcon.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/vendors/materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" media="screen,projection"/>
  </head>
  <body>
    <div id="globalLoader">
      <div class="roundInternalLoader">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="navbar" class="row">
      <div class="col s11">
        <ul class="tabs">
          <li class="tab"><a class="active" href="#firmware">Firmware</a></li>
          <li class="tab tabDiagnostique"><a href="#diagnostic">Diagnostic<span>beta</span></a></li>
          <!--li class="tab"><a href="#print">Print<span>alpha</span></a></li-->
        </ul>
        <a id="close" href="#" class="close tooltipped" data-position="bottom" data-delay="50" data-tooltip="Close App"><i class="mdi-navigation-close"></i></a>
      </div>
    </div>
    <div id="tabsContainer">
      <div id="comSelector">
        <!--label>Choisissez le port s&eacute;rie de votre imprimante</label-->
        <select id="com" class="browser-default">
          <option value="" disabled="disabled" selected="selected">Choisissez le port s&eacute;rie de votre imprimante</option>
        </select>
        <p></p>
      </div>
      <div class="tabsContent disabled">
        <div id="firmware" class="col s12">
          <form>
            <!--label>Choisissez le type de carte de votre imprimante</label-->
            <select id="type" class="browser-default">
              <option value="" disabled="disabled" selected="selected">Choisissez le type de carte de votre imprimante</option>
              <option value="melzi">Melzi</option>
              <option value="mega">MKS</option>
            </select>
            <div id="dragBox">
              <div class="drag">Glissez/D&eacute;posez le fichier .hex du firmware</div>
              <div class="file hide">
                <p class="fileName">File.hex</p><a id="burn" class="btn">Flasher</a>
              </div>
            </div>
          </form>
        </div>
        <div id="diagnostic" class="col s12">
          <div id="modalZoffset" class="modal modal-fixed-footer">
            <div class="modal-content">
              <p>Placez une feuille entre la buse et le plateau.</p>
              <p>Descendez la buse &agrave; l'aide des boutons ci-contre pour pincer la feuille</p>
              <table class="position">
                <tr class="row">
                  <td><a id="zp01" class="btn"><i class="material-icons">expand_less</i></a></td>
                  <td><a id="zp1" class="btn"><i class="material-icons">expand_less</i></a></td>
                  <td><a id="zp10" class="btn"><i class="material-icons">expand_less</i></a></td>
                </tr>
                <tr class="row">
                  <td>0,1mm</td>
                  <td>1mm</td>
                  <td>10mm</td>
                </tr>
                <tr class="row">
                  <td><a id="zm01" class="btn"><i class="material-icons">expand_more</i></a></td>
                  <td><a id="zm1" class="btn"><i class="material-icons">expand_more</i></a></td>
                  <td><a id="zm10" class="btn"><i class="material-icons">expand_more</i></a></td>
                </tr>
              </table>
              <!--p class="center"><a id="zp01" class="btn">+0,1mm</a><a id="zp1" class="btn">+1mm</a><a id="zp10" class="btn">+10mm</a></p>
              <p class="center"><a id="zm01" class="btn">-0,1mm</a><a id="zm1" class="btn">-1mm</a><a id="zm10" class="btn">-10mm</a></p-->
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn">La feuille est pinc&eacute;e</a>
            </div>
          </div>
          <table class="position">
            <tr class="row">
              <td></td>
              <td>X/Y</td>
              <td></td>
              <td class="colZ">Z</td>
            </tr>
            <tr class="row">
              <td></td>
              <td><a id="yp" class="btn btnPosition"><i class="material-icons">expand_less</i></a></td>
              <td></td>
              <td><a id="zp" class="btn btnPosition colZ"><i class="material-icons">expand_less</i></a></td>
            </tr>
            <tr class="row">
              <td><a id="xm" class="btn btnPosition"><i class="material-icons">chevron_left</i></a></td>
              <td><a id="home" class="btn"><i class="material-icons">home</i></a></td>
              <td><a id="xp" class="btn btnPosition"><i class="material-icons">chevron_right</i></a></td>
              <td><a id="home" class="btn colZ"><i class="material-icons">home</i></a></td>
            </tr>
            <tr class="row">
              <td></td>
              <td><a id="ym" class="btn btnPosition"><i class="material-icons">expand_more</i></a></td>
              <td></td>
              <td><a id="zm" class="btn colZ btnPosition"><i class="material-icons">expand_more</i></a></td>
            </tr>
            <tr class="row">
              <td colspan="4">
                <div class="speedControl">
                    <a id="s01" class="btnRadio">0.1</a>
                    <a id="s1" class="btnRadio selected">1</a>
                    <a id="s10" class="btnRadio">10</a>
                    <a id="s100" class="btnRadio">100</a>
                </div>
              </td>
            </tr>
            <!--tr class="row">
              <td colspan="4">
                <a id="stopMotors" class="btn">Arr&ecirc;t des moteurs</a>
              </td>
            </tr-->
          </table>
          <p>
            <a id="zoffset" class="btn">Z-Offset</a>
            <a id="spirale" class="btn">Spirale</a>
            <a id="monter" class="btn">Monter</a>
            <a id="descendre" class="btn">Descendre</a>
            <a id="stop" class="btn">Stop</a>
          </p>
        </div>
        <!--div id="print" class="col s12">
            <div class="file-field input-field">
              <div class="btn">
                <span>G-code</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Sélectionnez un fichier g-code à imprimer">
              </div>
            </div>
            <div>
              <a id="burn" class="btn">imprimer</a>
            </div>
        </div-->
      </div>
    </div>
    <div id="version">
    </div>
    <script type="text/javascript">
      window.$ = window.jQuery = require("../static/vendors/jquery/jquery-2.1.4.min.js");
      window.Hammer = require('../static/vendors/hammer/hammer.min.js');
      document.jQuery = window.jQuery;
    </script>
    <script type="text/javascript" src="../static/vendors/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="../controllers/index.js"></script>
  </body>
</html>
