html
  head
    title Dagoma Configurator
    link(type="text/css" rel="stylesheet" href="../static/vendors/materialize/css/materialize.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="../static/css/index.css"  media="screen,projection")
  body
  
    div#globalLoader
        div.roundInternalLoader
          div.preloader-wrapper.small.active
              div.spinner-layer.spinner-blue
                div.circle-clipper.left
                  div.circle
                div.gap-patch
                  div.circle
                div.circle-clipper.right
                  div.circle
              div.spinner-layer.spinner-red
                div.circle-clipper.left
                  div.circle
                div.gap-patch
                  div.circle
                div.circle-clipper.right
                  div.circle
              div.spinner-layer.spinner-yellow
                div.circle-clipper.left
                  div.circle
                div.gap-patch
                  div.circle
                div.circle-clipper.right
                  div.circle
              div.spinner-layer.spinner-green
                div.circle-clipper.left
                  div.circle
                div.gap-patch
                  div.circle
                div.circle-clipper.right
                  div.circle
    div#bodyContainer
      form 
        label Choose your COM port
        select.browser-default
          option(value="" disabled selected) Choose your COM port
        
        div#dragBox
          .drag
            | Drag and drop HEX file here
          .file.hide
            p.fileName Coucou
            a.btn#burn Burn
            
            
        
    script type="text/javascript"
      | window.$ = window.jQuery = require("../static/vendors/jquery/jquery-2.1.4.min.js");
      | window.Hammer = require('../static/vendors/hammer/hammer.min.js');
      | document.jQuery = window.jQuery;
    script(type="text/javascript" src="../static/vendors/materialize/js/materialize.js")
    script(type="text/javascript" src="../controllers/index.js")
