html
  head
    title Dagoma Configurator
    link(type="text/css" rel="stylesheet" href="../static/vendors/materialize/css/materialize.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="../static/css/index.css"  media="screen,projection")
  body
    div#bodyContainer
      form 
        label Choose your COM port
        select.browser-default
          option(value="" disabled selected) Choose your COM port
          option(value="1") COM 3
          option(value="2") COM 4
        
        div#dragBox
          .drag
            | Drag and drop HEX file here
        
    script type="text/javascript"
      | window.$ = window.jQuery = require("../static/vendors/jquery/jquery-2.1.4.min.js");
      | window.Hammer = require('../static/vendors/hammer/hammer.min.js');
      | document.jQuery = window.jQuery;
    script(type="text/javascript" src="../static/vendors/materialize/js/materialize.js")
    script(type="text/javascript" src="../controllers/index.js")
