body, html{
	overflow: hidden;
	width: 100%;
	height: 100%;}

html{
  background-image: url("../images/logo.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;}

a, button{
  cursor: pointer;
}

html.loader{
	background-image:none;
}

body{
	position: relative;
  -webkit-app-region: drag;
  margin-left: 100px;
  width: 280px;}

#burn{
  margin-left: 100px;
}

#errorMessage{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 40%;
}

h1{
  font-size: 1.5rem;
}

.port{
  color:red;
}

.value{
  color:red;
}

p{
  margin: 0;
}

.serverMessage{
  margin-top: 20px;
  font-weight: bold;
}
