*{
  white-space-collapse: discard;}

body, html{
	overflow: hidden;
	width: 100%;
	height: 100%;}

html{
  background-image: url("../images/logo.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px 90px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;}

#version{
  position: fixed;
  bottom: 1px;
  color: #DDD;
  left: 6px;}

a, button{
  cursor: pointer;}

html.loader{
	background-image:none;}

body{
	position: relative;
  -webkit-app-region: drag;}

a, select, button, input, label{
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  /*-webkit-user-drag: none;*/
}

#navbar{
  background-color: #e19531;}

  #navbar a#navClose{
    position: absolute;
    width: 60px;
    height: 50px;
    color: white;
    line-height: 50px;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 30;}

  #navbar a#navHome{
    position: absolute;
    width: 60px;
    height: 50px;
    color: white;
    line-height: 50px;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 30;}

  h1{
    margin: 0px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
  }

#pageContainer{
  margin: 0px 0px 10px 100px;}

.port{
  color:red;
}

.value{
  color:red;
}

.serverMessage{
  margin-top: 20px;
  font-weight: bold;
}

#globalLoader{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	z-index: 2;
	background-color: rgba(255,255,255, 0.9);
	padding-top: 210px;
	text-align: center;
}


/*
************************************************************************
***************************** HOME *************************************
************************************************************************
*/

#home{
  margin: 50px 20px 0px;}

#home .link{
  margin: 25px 0px;
  position: relative;}

  #home a{
    width: 320px;
    height: 70px;
    margin: 0px;
    text-transform: inherit;
    padding: 0px 20px;
    overflow: hidden;}

    #home img{
      position:absolute;
      left: 290px;
      bottom: 30px;
      z-index: 2;}

    #home #firmware img{
      bottom: 0px;}

    #home #sav img{
      bottom: auto;
      top: 35px;
      left: 270px;}

    #home a h5{
      font-size: 19px;
      vertical-align: middle;
      font-weight: 300;
      margin: 17px 0px;}

      #home #firmware a h5{
        margin: 7px 0px;}

      #home a h5 p {
        font-size: 13px;
        margin: 0px;}

/*
************************************************************************
************************************************************************
************************************************************************
*/

.zoffset #next{
  position: absolute;
  bottom: 30px;
  right: 30px;}

.zoffset{
  font-size: 18px;
  margin: 0px 30px 0px 20px;}

  #zoffsetPreparation .thanksToPrepare{
    margin-bottom: 0px;}

  #zoffsetPreparation form{
    margin-top: 10px;}

  #zoffsetPreparation ul{
    padding-left: 30px;
    margin: 0px;}

    #zoffsetPreparation ul [type="checkbox"] + label{
      margin-bottom: 5px;
      font-size: 18px;}

    #zoffsetPreparation ul li{
      list-style-type: none;}

  #zoffsetConnection img{
    margin-bottom: 20px;
    margin-left: 20px;}

    #zoffsetConnection #comSelector{
      margin-bottom: 10px;
      margin-right: 10px;
      font-size: 14px;}

      #zoffsetConnection #comSelector p{
        display: none;
        margin: 5px;
        color: #999;
        padding-bottom: 5px;}


/*
#dragBox{
  width: 100%;
  height: 201px;
  border: 1px dashed grey;
  margin-top: 10px;
}

.drag{
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
	background-color: rgba(255,255,255, 0.9);
	position: relative;
  text-align: center;
  padding-top: 148px;
}

.drag.hover{
	opacity: 0.25;
}

.file{
	padding: 10px;
  width: 100%;
  position: relative;
  height: 200px;
}

.fileName{
	font-weight: bold;
  text-align: center;
  position: relative;
  top: 50%;
  overflow-wrap: break-word;
  -webkit-transform: translateY(-50%);
  width: 80%;
  margin: auto;
}

#burn{
  margin-left: 100px;
	position: absolute;
  bottom: 10px;
  right: 10px;
	background-color: #e19531;
}

#errorMessage{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 40%;
}

.disabled{
  opacity: 0.1;
  pointer-events: none;
}

#diagnostic{
  margin-top:40px;
}

#diagnostic a{
  margin:5px;
  background-color: #4d5254;
}

#diagnostic .modal-action{
  background-color: #ff8242;}

#diagnostic .modal-content{
  overflow-y: hidden;}

#diagnostic table{
  margin-left: 20px;
  width: 210px;
  float: left;
  margin-right: 16px;
  border-right: 1px solid #CCC;}


  #diagnostic .modal-content table{
    margin-left: 80px;
    margin-top: 20px;
    border: 0px;}

  #diagnostic .modal-content table td{
    width: 70px!important;
    padding-bottom: 5px!important;}

  #diagnostic table.position td{
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 42px;}

    #diagnostic table.position td a{
      width: 40px;
      text-align: center;
      padding: 0px;
      margin: 1px;}

    #diagnostic table.position td.colZ{
      padding-left: 20px;}

    #diagnostic table.position a.colZ{
      margin-left: 20px;}

    #diagnostic table.position .speedControl{
      margin-top: 20px;
      width: 100%;
      background-color: #4d5254;
      height: 42px;
      line-height: 42px;
      text-align: center;
      color: white;
      border-radius: 2px;}

      #diagnostic table.position .speedControl a{
        display: block;
        background: transparent;
        margin: 0px;
        padding: 0px;
        float: left;
        width: 25%;
        border-radius: 0px;
        color: white;
        border-left: 1px solid white;}

      #diagnostic table.position .speedControl a:first-child{
        border-left: 0px;}

      #diagnostic table.position .speedControl a.selected{
        box-shadow: inset 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        background-color: #ff8242;
        border-radius:2px;
        }

      #diagnostic #stopMotors{
        background-color: red;
        width: 100%;
        margin: 10px 0px;}

*/
