<div id="zoffsetChose" class="zoffset">
  <div class="link" id="initialisation">
    <a class="waves-effect waves-light btn-large blue">
      <h5>
        {{z_offset_chose_initialisation}}
      </h5>
    </a>
  </div>
  <div class="link" id="initialisation2">
    <a class="waves-effect waves-light btn-large blue">
      <h5>
        {{z_offset_chose_initialisation}} 2
      </h5>
    </a>
  </div>
  <a id="tuning" class="waves-effect waves-light btn-large blue">
      {{z_offset_chose_tuning}}
  </a>
</div>
