<div id="zoffsetPreparation" class="zoffset">
  <p>Nous allons procéder à l’initialisation de votre imprimante 3D </p>
  <p class="thanksToPrepare">Préparation : </p>
  <form>
    <ul>
      <li>
        <input type="checkbox" class="filled-in" id="test3" />
        <label for="test3">Retirer la carte mémoire (SD) de l'imprimante</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test1" />
        <label for="test1">Allumer l'imprimante</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test2" />
        <label for="test2">Insérer le filament</label>
        <select class="browser-default">
          <option value="190" selected> PLA Chromatik </option>
          <option value="210"> PLA OctoFiber</option>
          <option value="200"> PLA Filo3d-VERT</option>
          <option value="220"> PLA Filo3d-ROUGE</option>
          <option value="205"> PLA Filo3d-autre couleur</option>
          <option value="210"> PLA PolyPlus</option>
          <option value="210"> PLA PolyMax</option>
          <option value="230"> PLA PolyFlex</option>
          <option value="210"> PLA PolyWood</option>
        </select>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test5" />
        <label for="test5">Se munir de la cible de réglage (fourni) </label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test4" />
        <label for="test4">Se munir du cable USB (fourni) </label>
      </li>
    </ul>
  </form>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
