<div id="zoffsetPreparation" class="zoffset">
  <p>{{z_offset_preparation_explications}}</p>
  <p class="thanksToPrepare">{{z_offset_preparation}}</p>
  <form>
    <ul>
      <li>
        <input type="checkbox" class="filled-in" id="test3" />
        <label for="test3">{{z_offset_preparation_remove_card}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test1" />
        <label for="test1">{{z_offset_preparation_turn_on}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test2" />
        <label for="test2">{{z_offset_preparation_insert_filament}}</label>
        <select class="browser-default">
          <option value="190" selected> {{z_offset_filament_Chromatik}} </option>
          <option value="210"> {{z_offset_filament_Octofiber}}</option>
          <option value="200"> {{z_offset_filament_Filo3DGreen}}</option>
          <option value="220"> {{z_offset_filament_Filo3DRed}}</option>
          <option value="205"> {{z_offset_filament_Filo3DOthers}}</option>
          <option value="210"> {{z_offset_filament_Polyplus}}</option>
          <option value="210"> {{z_offset_filament_Polymax}}</option>
          <option value="230" disabled> {{z_offset_filament_Polyflex}}</option>
          <option value="230" disabled> {{z_offset_filament_Polywood}}</option>
        </select>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test5" />
        <label for="test5">{{z_offset_preparation_target}} </label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test4" />
        <label for="test4">{{z_offset_USB_Cable}}</label>
      </li>
    </ul>
  </form>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
