<div id="zoffsetTuning" class="zoffset">
  <p class="useButton">
    {{z_offset_tuning_use_buttons}}
    <span class="value"></span>
  </p>
  <h3>
    -12.20
  </h3>
  <a id="zp" class="btn-large nozzleBtn waves-effect waves-light red"><i class="material-icons">expand_less</i></a>
  <a id="zm" class="btn-large nozzleBtn waves-effect waves-light red"><i class="material-icons">expand_more</i></a>
  <p>
    {{z_offset_chose_attention}}
  </p>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right dagogrey"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
