<div id="zoffsetConnection" class="zoffset">
  <p>Connectez votre imprimante à votre ordinateur</p>

  <iframe src="../static/images/ZOffsetConnectHTML.html" width="350" height="160"></iframe>
  <!--img src="../static/images/ZOffsetConnect.gif"/-->
  <div id="comSelector">
    <select id="com" class="browser-default">
      <option value="" disabled="disabled" selected="selected">Choisissez le port s&eacute;rie de votre imprimante</option>
    </select>
    <p></p>
  </div>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
