<div id="zoffsetMoveNozzle" class="zoffset">
  <p>
    C’est à vous de jouer :
  </p>
  <p class="useButton">
    Utilisez les boutons de direction pour pincer légèrement la cible :
  </p>
  <iframe src="../static/images/MoveNozzleHTML.html" width="120" height="160" class="left"></iframe>
  <a id="zp" class="btn-large nozzleBtn waves-effect waves-light red"><i class="material-icons">expand_less</i></a>
  <a id="zm" class="btn-large nozzleBtn waves-effect waves-light red"><i class="material-icons">expand_more</i></a>

  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
