<div id="zoffsetMoveNozzle" class="zoffset">
  <p>
    {{z_offset_your_turn}}
  </p>
  <p class="useButton">
    {{z_offset_use_buttons}}
  </p>
  <iframe src="../static/images/MoveNozzleHTML.html" width="120" height="160" class="left"></iframe>
  <a id="zp" class="btn-large nozzleBtn waves-effect waves-light red"><i class="material-icons">expand_less</i></a>
  <a id="zm" class="btn-large nozzleBtn waves-effect waves-light red"><i class="material-icons">expand_more</i></a>

  <a id="next" class="btn-floating btn-large waves-effect waves-light right dagogrey"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
