<div id="zoffsetTestPrinting" class="zoffset">
  <iframe src="../static/images/TestPrintingHTML.html" width="60" height="50" class="right"></iframe>
  <p>
    Observez bien votre première couche et ajustez en temps-réel :
  </p>
  <div class="zOffsetButton">
    <img draggable="false" src="../static/images/zOffsetDown.jpg" alt="" />
    <p>
      trop écrasée
    </p>
    <a id="zOffsetDown" class="waves-effect waves-light btn blue">plus haut</a>
  </div>
  <div class="zOffsetButton">
    <img draggable="false" src="../static/images/zOffsetOk.jpg" alt="" />
    <p>
      parfaite
    </p>
    <a id="zOffsetOk" class="waves-effect waves-light btn blue">je suis satisfait</a>
  </div>

  <div class="zOffsetButton">
    <img draggable="false" src="../static/images/zOffsetUp.jpg" alt="" />
    <p>
      trop haute
    </p>
    <a id="zOffsetUp" class="waves-effect waves-light btn blue">plus bas</a>
  </div>
  <a id="start" class="btn-large waves-effect waves-light center blue">J'enregistre le réglage</a>
</div>
