<div id="zoffsetTestPrinting" class="zoffset">
  <iframe src="../static/images/TestPrintingHTML.html" width="60" height="50" class="right"></iframe>
  <p>
    Observez bien votre première couche et ajustez en temps-réel :
  </p>
  <a id="zOffsetDown" class="zOffsetImage btn waves-effect waves-block waves-light white">
    <p>
      Elle est trop basse
    </p>
  </a>
  <a id="zOffsetOk" class="zOffsetImage btn waves-effect waves-block waves-light white">
    <p>
      Elle est parfaite
    </p>
  </a>
  <a id="zOffsetUp" class="zOffsetImage btn waves-effect waves-block waves-light white">
    <p>
      Elle est trop haute
    </p>
  </a>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
