<div id="zoffsetPreparation" class="zoffset">
  <p>Nous allons procéder à l’initialisation de votre imprimante 3D </p>
  <p class="thanksToPrepare">Merci de préparer : </p>
  <form>
    <ul>
      <li>
        <input type="checkbox" class="filled-in" id="test" />
        <label for="test">Votre imprimante :</label>
        <ul>
          <li>
            <input type="checkbox" class="filled-in" id="test1" />
            <label for="test1">sans carte mémoire</label>
          </li>
          <li>
            <input type="checkbox" class="filled-in" id="test2" />
            <label for="test2">avec du filament</label>
          </li>
          <li>
            <input type="checkbox" class="filled-in" id="test3" />
            <label for="test3">allumée</label>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test4" />
        <label for="test4">Un cable USB </label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test5" />
        <label for="test5">La cible de réglage </label>
      </li>
    </ul>
  </form>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right blue"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
