<div id="zoffsetPreparation" class="zoffset">
  <p>{{firmware_preparation_explication}}</p>
  <p class="thanksToPrepare">{{firmware_preparation_title}}</p>
  <form>
    <ul>
      <li>
        <input type="checkbox" class="filled-in" id="test3" />
        <label for="test3">{{firmware_preparation_remove_card}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test1" />
        <label for="test1">{{firmware_preparation_turn_on}}</label>
      </li>
      <li>
        <input type="checkbox" class="filled-in" id="test4" />
        <label for="test4">{{firmware_preparation_USB_Cable}} </label>
      </li>
    </ul>
  </form>
  <a id="next" class="btn-floating btn-large waves-effect waves-light right dagogrey"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
